{%load static%}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>FAQ</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'website/css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'website/css/responsive.css'%}" rel="stylesheet" />
  <!-- icon -->
  <link rel="icon" href="{%static 'website/images/favicon.png'%}" type="image/x-icon">
  <link rel="shortcut icon" href="{%static 'website/images/favicon.png'%}" type="image/x-icon">
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'website/images/logo.png'%}" alt="">
            <span>
              Jacks Animal Rescue
            </span>
          </a>
          <div class="links-container" style="justify-content: center;">
            <a  href="index.html" style="font-size: 20px; color: #6c757d;">   HOME </a>
            <a  href="about.html" style="font-size: 20px; color: #6c757d;">   ABOUT US </a>
            <a  href="pet.html" style="font-size: 20px; color: #6c757d;">   PET'S GALLERY </a>
            <a  href="contact.html" style="font-size: 20px; color: #6c757d;">   CONTACT US </a>
            <a  href="adopt.html" style="font-size: 20px; color: #6c757d;">   ADOPT NOW </a>
            <a  href="faq.html" style="font-size: 20px; color: #6c757d;">   FAQ </a>
            
            <style>
              .links-container a {
                  margin-right: 20px; 
              }
          
              .links-container {
                  padding: 10px; 
              }
          </style>
            
            </div>
            <div class="quote_btn-container  d-flex justify-content-center">
              <a href="">
               
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- Question Section-->

    

    <section class="service_section layout_padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 offset-md-2">
            <h2 class="custom_heading">
              How Does The Adoption Process <span>Work?</span>
            </h2>
            <p>Answer to question</p>
          </div>
          <br>
          <br>
          <div class="col-md-6 offset-md-2">
            <h2 class="custom_heading">
              Is There A Phone Number I Can <span>Call?</span>
            </h2>
            <p>Due to the resuce being a volunteer service and being run out of the owener's home the only dedicated phone would be her personal phone. As a result of this the only
              way to contact us is via email or our facebook page.
            </p>
          </div>
          <br>
          <br>
          <div class="col-md-6 offset-md-2">
            <h2 class="custom_heading">
              What Makes The Rescue <span>Different?</span>
            </h2>
            <p>Compared to other resuces who care more about quanity of dogs rehomed we at JAR care more about the quality of the dogs happiness and wellbeing resulting in happier dogs and 
              as a result overall easier and happier rehoming.
            </p>
          </div>
          <br>
          <br>
          <div class="col-md-6 offset-md-2">
            <h2 class="custom_heading">
              How Do I Support The  <span>Resuce?</span>
            </h2>
            <p>First of all we want to thank you for even considering helping the rescue! You can support us by dontating animal food which can be open, towels, sheets blankets, soap and dryer sheets, kennels (wire or plastics), or with a monetary donation. This along with just volunteering at the rescue.</p>
          </div>
          <br>
          <br>
          <div class="col-md-6 offset-md-2">
            <h2 class="custom_heading">
              Are The Animals At the Rescue <span>Healthy?</span>
            </h2>
            <p>Yes, all the animals at the rescue are seen by a vet monthly this along with all dogs being fixed, tatooed, and checked for worms. </p>
          </div>
          <br>
          <br>
          <div class="col-md-6 offset-md-2">
            <h2 class="custom_heading">
              Further <span>Questions?</span>
            </h2>
            <div class="btn-box">
              <a href="contact.html" class="btn-2">
                Contact Us!
              </a>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <!-- End of Question Section-->


  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_items">
        <a href="about.html">
          <div class="item ">
            <div class="img-box box-1">
              <img src="about.html" alt="">
            </div>
            <div class="detail-box">
              <p>
                Location
              </p>
            </div>
          </div>
        </a>
        <a href="contact.html">
          <div class="item ">
            <div class="img-box box-3">
              <img src="contact.html" alt="">
            </div>
            <div class="detail-box">
              <p>
                Email
              </p>
            </div>
          </div>
        </a>
        <a href="https://www.facebook.com/groups/jacksanimalrescue">
          <div class="item ">
            <div class="img-box box-4">
              <img src="facebook.png" alt="">
            </div>
            <div class="detail-box">
              <p>
                Facebook
              </p>
            </div>
          </div>
        </a>
        <a href="https://www.instagram.com/jacks_animal_rescue/?hl=en">
          <div class="item ">
            <div class="img-box box-5">
              <br>
        
            </div>
            <div class="detail-box">
              <p>
                Instagram
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
 

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>
  </div>

</html>