{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>FAQ</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'website/css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'website/css/responsive.css'%}" rel="stylesheet" />
  <!-- icon -->
  <link rel="icon" href="{% static 'website/images/favicon.png'%}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'website/images/favicon.png'%}" type="image/x-icon">
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'website/images/logo.png'%}" alt="">
            <span>
              Jacks Animal Rescue
            </span>
          </a>
          <div class="links-container" style="justify-content: center;">
            <a href="index.html" style="font-size: 20px; color: #6c757d;"> HOME </a>
            <a href="about.html" style="font-size: 20px; color: #6c757d;"> ABOUT US </a>
            <a href="pet.html" style="font-size: 20px; color: #6c757d;"> PET'S GALLERY </a>
            <a href="contact.html" style="font-size: 20px; color: #6c757d;"> CONTACT US </a>
            <a href="adopt.html" style="font-size: 20px; color: #6c757d;"> ADOPT NOW </a>
            <a href="stories.html" style="font-size: 20px; color: #6c757d;"> STORIES </a>
            <a href="faq.html" style="font-size: 20px; color: #6c757d;"> FAQ </a>
            <style>
              .links-container a {
                margin-right: 20px;
              }
              .links-container {
                padding: 10px;
              }
            </style>
          </div>
          <div class="quote_btn-container d-flex justify-content-center">
            <a href="">
            </a>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- Card Section-->
    <!--Row 1-->
    <section>
     
        <div class="storycard">
          <div>
            <img src="{% static 'website/images/LucianNRavenCover.jpg'%}" alt="Image 1">
            <h2>Lucian and Raven</h2>
            <p>An amazing story about an unlikely adoption.</p>
            <a href="article1.html" class="storybutton">View Story</a>
          </div>
        </div>
       
    
   
    <!-- End of Card Section-->

    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="info_items">
          <a href="about.html">
            <div class="item">
              <div class="img-box box-1">
                <img src="about.html" alt="">
              </div>
              <div class="detail-box">
                <p>
                  Location
                </p>
              </div>
            </div>
          </a>
          <a href="contact.html">
            <div class="item">
              <div class="img-box box-3">
                <img src="contact.html" alt="">
              </div>
              <div class="detail-box">
                <p>
                  Email
                </p>
              </div>
            </div>
          </a>
          <a href="https://www.facebook.com/groups/jacksanimalrescue">
            <div class="item">
              <div class="img-box box-4">
                <img src="facebook.png" alt="">
              </div>
              <div class="detail-box">
                <p>
                  Facebook
                </p>
              </div>
            </div>
          </a>
          <a href="https://www.instagram.com/jacks_animal_rescue/?hl=en">
            <div class="item">
              <div class="img-box box-5">
                <br>
              </div>
              <div class="detail-box">
                <p>
                  Instagram
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
  </div>
</body>

</html>
